Repository amber-lang/amber-lsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-fixme-phrase, cargo-clippy, cargo-fmt

find-fixme-phrase:
  name: Find FIXME phrase
  entry: bash -c 'git diff --cached --name-only --diff-filter=ACM | grep -E "\.(txt|js|ts|py|rs|go|java|c|cpp|sh|ab)$" | xargs -r grep -l "FIXME" | grep -E ".+" && exit 1 || exit 0'
  language: system
  description: Checks for the "FIXME" phrase in staged text files.

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt --check
  entry: cargo +nightly fmt --check
  language: system
  pass_filenames: false

Fixed unused function warning for recusrsive functions
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha050/unused.rs
  crates/analysis/src/alpha060/global.rs
  crates/analysis/src/alpha060/unused.rs
  crates/analysis/src/lib.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__unused_recursive_function.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed generic return type
  crates/analysis/src/alpha060/global.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_function_return_type-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_function_return_type.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added reanalysis run
  crates/analysis/src/alpha060/exp.rs
  crates/analysis/src/alpha060/global.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_generic_function-2.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added control flow type narrowing
  crates/analysis/src/alpha060/stmnts.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed goto definition
  crates/server/src/goto_definition.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed function return type
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha050/stmnts.rs
  crates/analysis/src/alpha060/global.rs
  crates/analysis/src/alpha060/stmnts.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added test block
  clients/vscode/package.json
  clients/vscode/src/extension.ts
  crates/analysis/src/alpha060/global.rs
  crates/grammar/src/alpha060/global.rs
  crates/grammar/src/alpha060/mod.rs
  crates/grammar/src/alpha060/parser.rs
  crates/grammar/src/alpha060/semantic_tokens.rs
  crates/server/src/backend.rs
  crates/server/src/code_lens.rs
  crates/server/src/completion.rs
  crates/server/src/lib.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__multiple_test_blocks.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__test_block_with_name.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__test_block_without_name.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed unused var warning
  crates/analysis/src/alpha060/stmnts.rs
  crates/analysis/src/alpha060/unused.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__no_unused_warning_for_narrowed_variable.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Implemented array type inference
  crates/analysis/src/alpha060/exp.rs
  crates/analysis/src/alpha060/stmnts.rs
  crates/grammar/src/alpha060/global.rs
  crates/grammar/src/alpha060/statements/array_destruct_init.rs
  crates/grammar/src/alpha060/statements/var_init.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_binary_op-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_binary_op.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_comparison-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_comparison.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_function_param.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_function_ref-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_function_ref.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_generic_ref_param-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_generic_ref_param.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_reassignment-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_reassignment.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_ref_deep-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_ref_deep.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_shorthand_add-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_shorthand_add.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_ternary-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__empty_array_type_inference_ternary.snap
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__empty_array_plus_expr.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_array.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_fs.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_complex.snap
  crates/types/src/data_type.rs
  type_inference_tests/type_inference_array_binary_op.ab
  type_inference_tests/type_inference_array_comparison.ab
  type_inference_tests/type_inference_array_function_param.ab
  type_inference_tests/type_inference_array_function_ref.ab
  type_inference_tests/type_inference_array_reassignment.ab
  type_inference_tests/type_inference_array_ref_aliasing.ab
  type_inference_tests/type_inference_array_ref_deep_2.ab
  type_inference_tests/type_inference_array_ref_deep_3.ab
  type_inference_tests/type_inference_array_ref_multiple_vars.ab
  type_inference_tests/type_inference_array_ternary.ab
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed generic return type of function
  crates/server/tests/analysis/alpha060.rs
  crates/types/src/data_type.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed control flow type narrowing
  crates/analysis/src/alpha060/stmnts.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed parsing compiler flags and added pub to array destruct
  crates/analysis/src/alpha060/global.rs
  crates/analysis/src/alpha060/stmnts.rs
  crates/grammar/src/alpha060/global.rs
  crates/grammar/src/alpha060/mod.rs
  crates/grammar/src/alpha060/semantic_tokens.rs
  crates/grammar/src/alpha060/statements/array_destruct_init.rs
  crates/grammar/src/alpha060/statements/compiler_flag.rs
  crates/grammar/src/alpha060/statements/mod.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__const_array_destruct_init-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__const_array_destruct_init-3.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__const_array_destruct_init.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_const_array_destruct_init-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_const_array_destruct_init-3.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_const_array_destruct_init.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_var_array_destruct_init-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_var_array_destruct_init-3.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__pub_var_array_destruct_init.snap
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_init_and_set.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_init_three_vars.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_init_with_comments_and_trailing.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__const_array_destruct_init.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__pub_const_array_destruct_init.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__pub_var_array_destruct_init.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added error for same scope redeclaration
  crates/analysis/src/alpha060/global.rs
  crates/analysis/src/alpha060/stmnts.rs
  crates/server/src/main.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap.new
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added error on duplicate main block
  crates/analysis/src/alpha034/global.rs
  crates/analysis/src/alpha035/global.rs
  crates/analysis/src/alpha040/global.rs
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha060/global.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated test snapshots
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap.new
Due: none

Fixed return type check
  crates/analysis/src/alpha060/stmnts.rs
  crates/server/src/main.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Removed union type from return type and added suppress
  clients/vscode/amber.tmLanguage.json
  crates/grammar/src/alpha060/global.rs
  crates/grammar/src/alpha060/parser.rs
  crates/grammar/src/alpha060/statements/modifiers.rs
  crates/grammar/src/lib.rs
  crates/server/src/completion.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added macro completions
  crates/server/src/completion.rs
  crates/server/tests/analysis/alpha060.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated builtin docs
  resources/alpha060/builtin.ab
Due: find-fixme-phrase

Updated test snapshots
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_fs.snap.new
Due: none

Fixed tests
  crates/analysis/src/alpha050/unused.rs
  crates/analysis/src/alpha060/unused.rs
  crates/grammar/src/alpha034/semantic_tokens.rs
  crates/grammar/src/alpha035/semantic_tokens.rs
  crates/grammar/src/alpha040/semantic_tokens.rs
  crates/grammar/src/alpha050/semantic_tokens.rs
  crates/grammar/src/alpha060/semantic_tokens.rs
  crates/server/src/completion.rs
  crates/server/src/main.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return.snap.new
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_fs.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_fs.snap.new
  resources/alpha060/builtin.ab
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Improved handling of test suits
  clients/vscode/package-lock.json
  clients/vscode/package.json
  clients/vscode/src/extension.ts
  crates/analysis/src/alpha060/global.rs
  crates/server/src/main.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Small fixes
  crates/analysis/src/alpha050/stmnts.rs
  crates/grammar/src/alpha060/parser.rs
  crates/server/src/main.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Improved type parsing
  crates/analysis/src/alpha060/global.rs
  crates/grammar/src/alpha060/global.rs
  crates/server/src/completion.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Removed unused files
  type_inference_tests/type_inference_array_binary_op.ab
  type_inference_tests/type_inference_array_comparison.ab
  type_inference_tests/type_inference_array_function_param.ab
  type_inference_tests/type_inference_array_function_ref.ab
  type_inference_tests/type_inference_array_reassignment.ab
  type_inference_tests/type_inference_array_ref_aliasing.ab
  type_inference_tests/type_inference_array_ref_deep_2.ab
  type_inference_tests/type_inference_array_ref_deep_3.ab
  type_inference_tests/type_inference_array_ref_multiple_vars.ab
  type_inference_tests/type_inference_array_ternary.ab
Due: find-fixme-phrase

add Amber LSP Benchmarks (cargo) benchmark result for 58d854ec52658d17245df81aefee612afb4dd0a8
  dev/bench/data.js
Due: find-fixme-phrase

Bumped version to 0.3.0
  .vscode/launch.json
  Cargo.lock
  clients/vscode/package.json
  clients/vscode/src/extension.ts
  crates/server/Cargo.toml
Due: find-fixme-phrase

add Amber LSP Benchmarks (cargo) benchmark result for 3530d58bd97c82adb448e6c95a745ebf98bff94d
  dev/bench/data.js
Due: find-fixme-phrase

Updated vscode engine
  clients/vscode/package-lock.json
  clients/vscode/package.json
Due: none

add Amber LSP Benchmarks (cargo) benchmark result for 3096b1191944bd7e14112443264dea4312f2c9d8
  dev/bench/data.js
Due: find-fixme-phrase

Path conditions:
  find-fixme-phrase: any of: \.(txt|js|ts|py|rs|go|java|c|cpp|sh|ab)$
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
