Repository amber-lang/amber-lsp: changes, and which pre-commit hooks are due for each by the changed paths.
All: find-fixme-phrase, cargo-clippy, cargo-fmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: local
    hooks:
      - id: find-fixme-phrase
        name: Find FIXME phrase
        entry: bash -c 'git diff --cached --name-only --diff-filter=ACM | grep -E "\.(txt|js|ts|py|rs|go|java|c|cpp|sh|ab)$" | xargs -r grep -l "FIXME" | grep -E ".+" && exit 1 || exit 0'
        language: system
        files: '\.(txt|js|ts|py|rs|go|java|c|cpp|sh|ab)$'
        description: Checks for the "FIXME" phrase in staged text files.

  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt --check
        entry: cargo +nightly fmt --check
        language: system
        types: [rust]
        pass_filenames: false

Increased sample size
  benches/benchmarks.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Reduced cloning and cached parser
  benches/benchmarks.rs
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/lib.rs
  crates/grammar/src/alpha034/mod.rs
  crates/grammar/src/alpha035/mod.rs
  crates/grammar/src/alpha040/mod.rs
  crates/grammar/src/alpha050/mod.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

add Amber LSP Benchmarks (cargo) benchmark result for 8bcccf92f07f5de32784877e127bdfea1de963b7
  dev/bench/data.js
Due: find-fixme-phrase

Fixed empty import autocomplete
  crates/server/src/backend.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Refactored backend
  .vscode/launch.json
  .vscode/tasks.json
  crates/server/src/backend.rs
  crates/server/src/completion.rs
  crates/server/src/diagnostics.rs
  crates/server/src/goto_definition.rs
  crates/server/src/hover.rs
  crates/server/src/lib.rs
  crates/server/src/semantic_tokens.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated gitignore
  .gitignore
Due: none

CR fixes
  .vscode/launch.json
  crates/server/src/backend.rs
  crates/server/src/completion.rs
  crates/server/src/goto_definition.rs
  crates/server/src/semantic_tokens.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Initial implementation of line wrapping
  crates/formatter/src/alpha040/expression.rs
  crates/formatter/src/alpha040/global_statement.rs
  crates/formatter/src/alpha040/mod.rs
  crates/formatter/src/alpha040/statement.rs
  crates/formatter/src/format.rs
  crates/formatter/src/fragments.rs
  crates/formatter/src/lib.rs
  crates/formatter/src/line_wrapping.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Update flake lock
  flake.lock
Due: none

Fix and test formatting for import statements
  crates/formatter/src/alpha040/mod.rs
  crates/formatter/src/format.rs
  crates/formatter/src/line_wrapping.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Changed path formatting in MemoryFS
  crates/types/src/fs.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Changed dir path to PathBuf
  crates/analysis/src/stdlib.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Normalized paths in memoryFS
  crates/types/src/fs.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed parser bug of comments in failable handlers
  crates/grammar/src/alpha050/mod.rs
  crates/grammar/src/alpha050/statements/failable_handlers.rs
  crates/server/src/files.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixed test case
  crates/grammar/src/alpha050/statements/failable_handlers.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap.new
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated snapshot
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap.new
Due: none

Autoimport (#116)
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha050/unused.rs
  crates/analysis/src/stdlib.rs
  crates/grammar/src/alpha050/mod.rs
  crates/grammar/src/alpha050/statements/failable_handlers.rs
  crates/server/src/backend.rs
  crates/server/src/completion.rs
  crates/server/src/diagnostics.rs
  crates/server/src/files.rs
  crates/server/src/goto_definition.rs
  crates/server/src/hover.rs
  crates/server/src/lib.rs
  crates/server/src/semantic_tokens.rs
  crates/server/tests/analysis/alpha050.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha050__failable_handlers.snap
  crates/types/src/data_type.rs
  crates/types/src/fs.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Bumped version to 0.2.0
  Cargo.lock
  clients/vscode/package.json
  clients/vscode/src/extension.ts
  crates/server/Cargo.toml
Due: find-fixme-phrase

add Amber LSP Benchmarks (cargo) benchmark result for f92cd6147fdd858c22a4188a7c5a71a9acefef8e
  dev/bench/data.js
Due: find-fixme-phrase

add Amber LSP Benchmarks (cargo) benchmark result for 63b49159bb8de03c05c5a9fbd04191e3dbbf59ac
  dev/bench/data.js
Due: find-fixme-phrase

Fixed setting generics
  crates/analysis/src/alpha034/exp.rs
  crates/analysis/src/alpha035/exp.rs
  crates/analysis/src/alpha040/exp.rs
  crates/analysis/src/alpha050/exp.rs
  crates/server/tests/analysis/alpha050.rs
  crates/types/src/data_type.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added keyword completions
  crates/server/src/completion.rs
  crates/server/tests/analysis/alpha050.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Only output indentation on lines with text
  crates/formatter/src/format.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Preserve newlines in blocks
  crates/formatter/src/alpha040/global_statement.rs
  crates/formatter/src/alpha040/mod.rs
  crates/formatter/src/alpha040/statement.rs
  crates/formatter/src/format.rs
  crates/formatter/tests/alpha040.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Preserve newlines in if chains
  crates/formatter/src/alpha040/statement.rs
  crates/formatter/src/format.rs
  crates/formatter/tests/alpha040.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Create method for preserving newlines
  crates/formatter/src/alpha040/mod.rs
  crates/formatter/src/alpha040/statement.rs
  crates/formatter/src/format.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Wrapped If Chains have increased indentation
  crates/formatter/src/alpha040/mod.rs
  crates/formatter/src/format.rs
  crates/formatter/tests/alpha040.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fix placement of command modifiers in blocks
  crates/formatter/src/alpha040/mod.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Between Wrapping applies proper indentation
  crates/formatter/src/line_wrapping.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added errors on duplicates and fixed comments between handlers
  crates/analysis/src/alpha050/exp.rs
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha050/stmnts.rs
  crates/grammar/src/alpha050/statements/failable_handlers.rs
  crates/grammar/src/lib.rs
  crates/server/src/completion.rs
  crates/server/tests/analysis/alpha050.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Fixes and improvments (#121)
  crates/analysis/src/alpha034/exp.rs
  crates/analysis/src/alpha035/exp.rs
  crates/analysis/src/alpha040/exp.rs
  crates/analysis/src/alpha050/exp.rs
  crates/analysis/src/alpha050/global.rs
  crates/analysis/src/alpha050/stmnts.rs
  crates/grammar/src/alpha050/statements/failable_handlers.rs
  crates/grammar/src/lib.rs
  crates/server/src/completion.rs
  crates/server/tests/analysis/alpha050.rs
  crates/types/src/data_type.rs
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

add Amber LSP Benchmarks (cargo) benchmark result for 84562cd9837e617a2b4b8702ebe54d59fd3a3136
  dev/bench/data.js
Due: find-fixme-phrase

Added array destructuring
  crates/analysis/src/alpha060/stmnts.rs
  crates/grammar/src/alpha060/mod.rs
  crates/grammar/src/alpha060/semantic_tokens.rs
  crates/grammar/src/alpha060/statements/array_destruct_init.rs
  crates/grammar/src/alpha060/statements/array_destruct_set.rs
  crates/grammar/src/alpha060/statements/mod.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_init-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_init-3.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_init.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_set-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_set-3.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__array_destruct_set.snap
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_init.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_init_three_vars.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_set.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__array_destruct_set_simple.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__command_backslash.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__comments_in_ifs.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__context_command_to_main.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__dollar_dollar_char.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__double_dollar_end.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__failable_handlers.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__just_dollar.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__single_char.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_text.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__string_multi_interpolation.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__string_trailing_backslash.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__triple_dollar.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unclosed_command.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__unfinished_function_call-2.snap.new
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added union types
  crates/grammar/src/alpha060/global.rs
  crates/grammar/src/alpha060/lexer.rs
  crates/grammar/src/alpha060/parser.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_complex_arg-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_complex_arg.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_arg-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_arg.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__union_type_function_return.snap
  crates/server/tests/grammar/alpha060.rs
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_all_primitives.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_array_failable.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_array_with_union_inside.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_cast.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_complex.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_empty_array_in_union.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_failable_at_end.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_is_check.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_multiple_args.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_nested_array_with_failable.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_optional_arg_with_union.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_return_type.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_return_type_with_failable.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_simple.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_three_types.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_with_array.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_with_failable.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__union_type_with_null.snap
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Added recursive functions
  crates/analysis/src/alpha060/global.rs
  crates/server/tests/analysis/alpha060.rs
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__failure_handlers-3.snap.new
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference_multiple_functions-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference_multiple_functions.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference_typed-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__forward_reference_typed.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__mutual_recursion-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__mutual_recursion.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_function-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_function.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_generic_function-2.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__recursive_generic_function.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__unused_import.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__unused_import_all_symbols_unused.snap
  crates/server/tests/analysis/snapshots/r#mod__analysis__alpha060__unused_import_star.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__mv_files.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__mv_files.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_array.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_array.snap.new
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_env.snap
  crates/server/tests/grammar/snapshots/r#mod__grammar__alpha060__stdlib_env.snap.new
Due: find-fixme-phrase, cargo-clippy, cargo-fmt

Updated builtin pid
  resources/alpha060/builtin.ab
Due: find-fixme-phrase
